extends ./layout.jade

block content
	.container
		.content
			.row
				.content-header
					h1 About Poll-Machine
			.row
				.content-body
					p This project is part of the curriculum at 
						a(href="http://www.freecodecamp.com") Free Code Camp.
						|	If you like it you can get full source code at 
						a(href="https://github.com/golle404/PollMachine.git") github.
					p Technical info
						ul
							li server - 
								a(href="https://nodejs.org/") node.js
							li database - 
								a(href="https://www.mongodb.org/") mongoDB
							li template engine - 
								a(href="http://jade-lang.com/") jade
							li css pre-processor - 
								a(href="http://lesscss.org/") less
					p Main libraries and frameworks used
						ul
							li 
								a(href="http://expressjs.com/") express.js
								|	- backend
							li 
								a(href="http://expressjs.com/") passport.js
								|	- backend
							li 
								a(href="http://getbootstrap.com/") bootstrap
								| - frontend
					p Check my 
						a(href="http://codepen.io/golle404/full/vNoxzg/") CodePen
						|	portfolio for more FreeCodeCamp projects and some 
						a(href="http://codepen.io/golle404/full/NxqVKN/") other stuf.
