extends ./layout.jade

block content
	.container
		.home-block.jumbotron
			h1 Poll-Machine
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quia nihil necessitatibus odit earum aspernatur eos aliquid, odio commodi nobis maiores vel provident obcaecati, amet velit corporis placeat alias perspiciatis!
			p
				a.btn.btn-primary(href='/login') Login 
				a.btn.btn-primary(href='/register') Register 
				a.btn.btn-primary(href='/public-polls') Public Polls