extends ./layout.jade

block content
	.container
		.row
			.content
				.row
					.content-header
						if polls
							h1 List of public polls you can vote to
						else
							h3 Sorry, there are no public polls at the moment.
					.content-body
						if polls
							include ./poll-list.jade
