extends ./layout.jade

block content
	.container
		.row
			.content
				.row
					.content-header
						if layout.info
							.alert.alert-warning(role="alert")= layout.info
					.content-body
						include ./log-mixin.jade
						+logform(false)