extends ./layout.jade

block content
	.container
		.row
			.content
				.row
					.content-header
						h1 Hello 
							span.username=user.username
							if user.domain
								span.domain @#{user.domain}
						if !polls
							h4 It seams you dont have any polls created.
						else
							h4 Check results of your polls or
						p.text-center
							a.btn.btn-primary(type='button' href="/new-poll/") Create new poll
				.row
					.content-body.poll-list
						if polls
							include ./poll-list.jade
							